<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/board_list.css" type="text/css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="content_wrap">
    	<div class="wrap1">
            <h2 style="font-weight: bold; color: #fff; ">COMMUNITY</h2>
            <button class="custom-btn btn-5"><a href="/board/category" align="center" style="color: #fff; display: block; text-decoration-line: none;">PREVIOUS</a></button>
            <button class="custom-btn btn-5"><a href="/" align="center" style="color: #fff; display: block; text-decoration-line: none;">HOME</a></button>
            <button class="custom-btn btn-5" style="margin-left: 10px;"><a href="#pop_info_1" class="btn_open" align="center" style="color: #fff; display: block; text-decoration-line: none;">WRITING</a></button>
            <input class="write_subject" type="text" align="center" placeholder="게시글로 검색" style="color: lightgray;width: 350px;">
            <button class="custom-btn btn-5" style="margin-left: 10px;"><a href="#pop_info_2" class="btn_open" align="center" style="color: #fff; display: block; text-decoration-line: none;">SEARCH</a></button>
        </div>
        <div class="wrap2">
            <div class="content_inner">
                <div class="contents">
                    <div class="item">
                        <a class="content_a" href="/board/view">
                            <div class="item_subject">
                                <!-- 게시물 제목 넣기 -->
                                <p>{{allBoard}}제목 더미</p>
                            </div>
                            <div class="item_img">
                                <!-- 게시물 이미지 넣기 -->
                                <img src="?" width="100%" height="100%">
                            </div>
                            <div class="item_date">
                                <!-- 게시물 날짜 -->
                                <p>{{allBoard}}날짜 더미</p>
                            </div>
                            <div class="item_hit">
                                <!-- 게시물 조회수 -->
                                <p>{{allBoard}}조회수 더미</p>
                            </div>
                            <div class="item_reply_count">
                                <!-- 게시물 댓글수 -->
                                <p>{{allBoard}}댓글수 더미</p>
                            </div>
                            <div class="item_subcategory">
                                <!-- 게시물 서브카테고리 -->
                                <p>{{allBoard}}서브카테고리 더미</p>
                            </div>
                        </a>
                        <div class="container" style="margin-top: 290px; margin-left: 12px;">
                            <div class="button-container like-container">
                                <a href="#">
                                    <i class="fa fa-heart-o">Like</i>    
                                </a>
                            </div>
                            <div class="button-container dislike-container">
                                <p>{{allBoard}}300</p>
                            </div>
                            <div class="button-container dislike-container">
                                <p>{{allBoard}}300</p>
                            </div>
                            <div class="button-container dislike-container">
                                <a href="#">
                                    <i class="fa fa-heart"> Dislike</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 게시글 추가 팝업 -->
        <div id="pop_info_1" class="pop_wrap" style="display:none;">
            <div class="pop_inner">
                <form class="board_write" id="board_write" enctype="multipart/form-data" >
                    <input class="write_subject" type="text" align="center" placeholder="제목 입력" style="color: lightgray;">
                    <input class="write_content" type="text" align="center" placeholder="내용 입력" style="height: 250px;color: lightgray;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그" style="color: lightgray;width: 70%; width: 110px;">
                    <label style="display: flex; height: 40px;">
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                        <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리 더미</p>
                    </label>
                    <ul class="img_con1">
                        <li style="list-style: none; margin-top: 30px;">
                            <img id="print" src="" style="width: 70px; height: 70px; border: #362C2C 2px solid;" alt="선택한이미지 표시영역">
                            <input type="file" id="sel-file" accept="image/*">
                        </li>
                        <li style="list-style: none;">
                            <img id="print" src="" style="width: 70px; height: 70px; border: #362C2C 2px solid;" alt="선택한이미지 표시영역">
                            <input type="file" id="sel-file" accept="image/*">
                        </li>
                        <li style="list-style: none;">
                            <img id="print" src="" style="width: 70px; height: 70px; border: #362C2C 2px solid;" alt="선택한이미지 표시영역">
                            <input type="file" id="sel-file" accept="image/*">
                        </li>
                    </ul>
                    <ul class="img_con2">
                        <li style="list-style: none;">
                            <img id="print" src="" style="width: 70px; height: 70px; border: #362C2C 2px solid;" alt="선택한이미지 표시영역">
                            <input type="file" id="sel-file" accept="image/*">
                        </li>
                        <li style="list-style: none;">
                            <img id="print" src="" style="width: 70px; height: 70px; border: #362C2C 2px solid;" alt="선택한이미지 표시영역">
                            <input type="file" id="sel-file" accept="image/*">
                        </li>
                    </ul>
                </form>
                <button class="custom-btn btn-5" style="margin-top: 50px;"><a href="/user/login" align="center" style="color: #fff; display: block; text-decoration-line: none;">SUBMIT</a></button>
                <button class="btn_close custom-btn btn-5"><a href="/board/list" align="center" style="color: #fff; display: block; text-decoration-line: none;">CLOSE</a></button>
            </div>
        </div>
        <script type="text/javascript" src="/js/user/pop.js"></script>
        <script type="text/javascript" src="/js/user/file_reader.js"></script>
        <!-- <script type="text/javascript" src="/js/board/list.js"></script> -->
    </div>
</body>
</html>
    </div>
</body>
</html>