<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/board_view.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="content_wrap">
        <!-- 이미지 출력 con -->
        <div class="img_con">
            <div class="user_img">이미지 넣는 곳 입니다!</div>
        </div>
        <!-- 게시글 수정 페이지 더미 데이터 넣어져있음!-->
        <div class="content_con">
            <div class="content">
                <p class="write_subject" type="text" align="center" style="color: lightgray;">제목입니다</p>
                <p class="write_content" type="text" align="center"  style="height: 250px;color: lightgray;">컨텐츠 입니다</p>
                <div class="hashtag_con">
                    <!-- for문으로 해시태그 값 받아옴 -->
                    <p class="write_hashtag" type="text" align="center"  style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">해쉬태그1</p>
                    <p class="write_hashtag" type="text" align="center"  style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">해쉬태그2</p>
                    <p class="write_hashtag" type="text" align="center"  style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">해쉬태그3</p>
                    <p class="write_hashtag" type="text" align="center"  style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">해쉬태그4</p>
                    <p class="write_hashtag" type="text" align="center"  style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">해쉬태그5</p>
                </div>
                <!-- for문으로 돌려줘야함 서브 카테고리 개수만큼 -->
                <!-- 서브 카테고리 이름 nunjucks로 받아와야함 -->
                <p class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리1</p>
            </div>
        </div>
    	<div class="wrap">
            <h2 style="font-weight: bold; color: #fff; ">COMMUNITY</h2>
            <table>
                <tr>
                    <button class="custom-btn btn-5"><a href="/board/board_list" align="center" style="color: #fff; display: block; text-decoration-line: none;">PREVIOUS</a></button>
                    <button class="custom-btn btn-5" style="margin-left: 50px;"><a href="#pop_info_1" class="btn_open" align="center" style="color: #fff; display: block; text-decoration-line: none;">EDIT</a></button>
                    <button class="custom-btn btn-5" style="margin-left: 50px;"><a href="#pop_info_2" class="btn_open" align="center" style="color: #fff; display: block; text-decoration-line: none;">DELETE</a></button>
                </tr>
            </table>
            </div>
        </div>
        <!-- 게시글 수정 팝업 -->
        <!-- 폼으로 묶어서 postEdit에 연결  -->
        <div id="pop_info_1" class="pop_wrap" style="display:none;">
            <div class="pop_inner">
                <input class="write_subject" type="text" align="center" placeholder="제목 수정" style="width: 100%; color: lightgray;">
                <input class="write_content" type="text" align="center" placeholder="내용 수정" style="width: 100%; height: 250px;color: lightgray;">
                <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그 수정" style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">
                <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그 수정" style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">
                <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그 수정" style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">
                <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그 수정" style="color: lightgray;width: 50%;margin-right: 50%;margin-left: 25%;">
                <input class="write_hashtag" type="text" align="center" placeholder="해쉬태그 수정" style="color: lightgray;width: 50%; margin-right: 50%;margin-left: 25%;">
                <!-- for문으로 돌려줘야함 서브 카테고리 개수만큼 -->
                <!-- 서브 카테고리 이름 nunjucks로 받아와야함 -->
                <label style="display: flex; height: 40px;">
                    <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리1</p>
                    <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리2</p>
                    <input class="sub_category_radio" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 5%;margin-top: 0px;"><p style="color: #362C2C; font-weight: bold;">서브 카테고리3</p>
                </label>
                <button class="custom-btn btn-5"><a href="/board/view" align="center" style="color: #fff; display: block; text-decoration-line: none;">SUBMIT</a></button>
                <button class="btn_close custom-btn btn-5"><a href="/board/view" align="center" style="color: #fff; display: block; text-decoration-line: none;">CLOSE</a></button>
            </div>
        </div>
        <!-- 게시글 삭제 팝업 -->
        <!-- 폼으로 묶어서 게시글삭제에 연결 -->
        <div id="pop_info_2" class="pop_wrap" style="display:none;">
            <div class="pop_inner">
                <input class="search" type="text" name="search" size="40" required="required" style="color: lightgray;" /> 
                <button class="custom-btn btn-5"><a href="/board_view" align="center"style="color: #fff; display: block; text-decoration-line: none;">DELETE</a></button>
                <button class="btn_close custom-btn btn-5"><a href="/board_view" align="center" style="color: #fff; display: block; text-decoration-line: none;">CLOSE</a></button>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/user/pop.js"></script>
</html>
    </div>
</body>
</html>