<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/category.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="content_wrap">
    	<div class="wrap1">
            <h2 style="font-weight: bold; color: #fff; ">COMMUNITY</h2>
            <button class="custom-btn btn-5"><a href="/" align="center" style="color: #fff; display: block; text-decoration-line: none;">PREVIOUS</a></button>
            <button class="custom-btn btn-5" style="margin-left: 10px;"><a href="/" class="btn_open" align="center" style="color: #fff; display: block; text-decoration-line: none;">예비 홈</a></button>
        </div>
        <div class="wrap2">
            <div class="content_inner">
                <div class="contents">
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                    <div class="item" onclick="location.href='http://localhost:3000/board/list';">
                        <div class="item_subject">
                            <!-- 게시물 제목 넣기 -->
                            <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                        </div>
                        <div class="item_img">
                            <!-- 게시물 이미지 넣기 -->
                            <img src="?" width="100%" height="100%">
                        </div>
                        <div class="item_date">
                            <!-- 게시물 날짜 -->
                            <p>{{board.date}}날짜 더미</p>
                        </div>
                        <div class="item_hit">
                            <!-- 게시물 조회수 -->
                            <p>{{board.hit}}조회수 더미</p>
                        </div>
                        <div class="item_reply_count">
                            <!-- 게시물 댓글수 -->
                            <p>{{board.reply_count}}댓글수 더미</p>
                        </div>
                        <div class="item_subcategory">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.subcategory}}서브카테고리 더미</p>
                        </div>
                        <div class="item_likes">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes}}좋아요 더미</p>
                        </div>
                        <div class="item_likes2">
                            <!-- 게시물 서브카테고리 -->
                            <p>{{board.likes2}}싫어요 더미</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script type="text/javascript" src="/js/user/pop.js"></script>
        <script type="text/javascript" src="/js/user/file_reader.js"></script>
    </div>
</body>
</html>
    </div>
</body>
</html>