<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/category.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="content_wrap">
    	<div class="wrap1">
            <h2 style="font-weight: bold; color: #fff; ">COMMUNITY</h2>
            <button class="custom-btn btn-5"><a href="/" align="center" style="color: #fff; display: block; text-decoration-line: none;">PREVIOUS</a></button>
            <button class="custom-btn btn-5"><a href="/board/list" align="center" style="color: #fff; display: block; text-decoration-line: none;">전체 글 보기</a></button>
        </div>
        <div class="wrap3">
            <div class="circle">
                <a class="main_category" href="/board/list" style="display: block;">
                    {{maincategory.m_name}}메인 카테고리
                </a>
            </div>
            <div class="circle">
                <a class="main_category" href="/board/list" style="display: block;">
                    {{maincategory.m_name}}메인 카테고리
                </a>
            </div>
            <div class="circle">
                <a class="main_category" href="/board/list" style="display: block;">
                    {{maincategory.m_name}}메인 카테고리
                </a>
            </div>
            <div class="circle">
                <a class="main_category" href="/board/list" style="display: block;">
                    {{maincategory.m_name}}메인 카테고리
                </a>
            </div>
            <div class="circle">
                <a class="main_category" href="/board/list" style="display: block;">
                    {{maincategory.m_name}}메인 카테고리
                </a>
            </div>
            <div class="circle">
                <a class="main_category" href="/board/list" style="display: block;">
                    {{maincategory.m_name}}메인 카테고리
                </a>
            </div>
        </div>
        <div class="wrap2">
            <p>서브 카테고리 목록</p>
            <div class="sub_content">
                <div class="item_sub" onclick="location.href='http://localhost:3000/board/list';">
                    <div class="item_subject">
                        <!-- 게시물 제목 넣기 -->
                        <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                    </div>
                </div>
                <div class="item_sub" onclick="location.href='http://localhost:3000/board/list';">
                    <div class="item_subject">
                        <!-- 게시물 제목 넣기 -->
                        <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                    </div>
                </div>
                <div class="item_sub" onclick="location.href='http://localhost:3000/board/list';">
                    <div class="item_subject">
                        <!-- 게시물 제목 넣기 -->
                        <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                    </div>
                </div>
                <div class="item_sub" onclick="location.href='http://localhost:3000/board/list';">
                    <div class="item_subject">
                        <!-- 게시물 제목 넣기 -->
                        <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                    </div>
                </div>
                <div class="item_sub" onclick="location.href='http://localhost:3000/board/list';">
                    <div class="item_subject">
                        <!-- 게시물 제목 넣기 -->
                        <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                    </div>
                </div>
                <div class="item_sub" onclick="location.href='http://localhost:3000/board/list';">
                    <div class="item_subject">
                        <!-- 게시물 제목 넣기 -->
                        <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                    </div>
                </div>
                <div class="item_sub" onclick="location.href='http://localhost:3000/board/list';">
                    <div class="item_subject">
                        <!-- 게시물 제목 넣기 -->
                        <p>{{board.subject}}제목 더미 제목 더미제목 더미제목 더미</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <script type="text/javascript" src="/js/user/pop.js"></script>
        <script type="text/javascript" src="/js/user/file_reader.js"></script>
    </div>
</body>
</html>
    </div>
</body>
</html>