<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <body>
    
    <div class="section" style="color: white; font-size: 32px; text-align: center; background-color: black;">
        <div class="container">
            
            <video class="main_video" autoplay loop muted preload="bbb" width="100%">
                <source src="./KakaoTalk_20220324_090914533 (online-video-cutter.com).mp4" type="video/mp4">
            </video>
            <div class="main">
                {% if response %}
                <p class="sign" align="center">{{username}}, Welcome!</p>
                {% else %}
                <p class="sign" align="center">SIGN IN</p>
                {% endif %}
                <form class="form1" id="login_frm">
                    {% if response %}
                    <a class="submit" align="center">profile</a>
                    {% else %}
                    <input id="login_userid" class="un" type="text" align="center" placeholder="Username" style="color: lightgray; " autocomplete="off">
                    <input id="login_userpw" class="pass" type="password" align="center" placeholder="Password" style="color: lightgray;">
                    <input class="custom-btn btn-5" type="submit" placeholder="LOGIN">
                    <button class="custom-btn btn-5"><a href="#pop_info_1" class="btn_open" align="center">REGISTER</a></button>
                    {% endif %}
                <div class="kakao_login">
                    <a href="/" ><img src="./kakao_login_medium_narrow (1).png"> </a>
                </div>
                <div class="google_login">
                    <a href="/" ><img src="./btn_google_signin_dark_normal_web.png"> </a>
                </div>
                <div class="naver_login">
                    <a href="/" ><img src="./btnG_official.png" width="185" height="40"> </a>
                </div>
                </form>   
                 <!-- 버튼 클릭 팝업 -->
                 <form id="join_frm" action="http://localhost:4000/user/join" method="post">
                    <div id="pop_info_1" class="pop_wrap" style="display: none;">
                        <div class="pop_inner">
                            <p class="sign" align="center">REGISTER</p>
                            <input class="reg_userid" type="text" align="center" placeholder="UserID" style="color: lightgray;">
                            <input class="reg_userpw" type="text" align="center" placeholder="UserPW" style="color: lightgray;">
                            <input class="reg_username" type="text" align="center" placeholder="Username" style="color: lightgray;">
                            <input class="reg_nickname" type="text" align="center" placeholder="Nickname" style="color: lightgray;">
                            <input class="reg_birthdate" type="date" align="center" placeholder="Birthdate" style="color: rgb(70, 70, 70)">
                            <input class="reg_adress" type="text" align="center" placeholder="Adress" style="color: lightgray;">
                            <input class="reg_gender" type="text" align="center" placeholder="Gender" style="color: lightgray;">
                            <input class="reg_mobile" type="text" align="center" placeholder="Mobile" style="color: lightgray;">
                            <input class="reg_tel" type="text" align="center" placeholder="Tel" style="color: lightgray;">
                            <input class="reg_email" type="text" align="center" placeholder="Email" style="color: lightgray;">
                            <input class="reg_intro" type="text" align="center" placeholder="intro" style="color: lightgray; height: 200px;">
                            <input id="submit_frm" class="custom-btn btn-5" type="submit">
                            <button class="btn_close custom-btn btn-5"><a href="/" align="center">CLOSE</a></button>
                        </div>
                    </div>
                    <script>
                        var target = document.querySelectorAll('.btn_open');
                        var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
                        var targetID;
    
                        // 팝업 열기
                        for(var i = 0; i < target.length; i++){
                        target[i].addEventListener('click', function(){
                            targetID = this.getAttribute('href');
                            document.querySelector(targetID).style.display = 'block';
                            });
                        }
                    </script>
                </form>      
            </div>
        </div>
    </div>
    <div class="section" style=" font-size: 32px; text-align: center;">
        <div class="menu_back" style="background-color: black;">
            <div class="menu_con" style="background-color: rgb(70, 70, 70);">
                <div class="main2_button">
                    <div class="button_con1">
                        <button class="custom-btn btn-7">
                            <a href="/main_category" align="center"><span class="munu_button">COMMUNITY</span></a>
                        </button>
                    </div>
                    <div class="button_con2">
                        <button class="custom-btn btn-7">
                            <!-- 채팅방 라우터 적어야함 -->
                            <a href="/" align="center"><span class="munu_button">CHAT</span></a>
                        </button>
                    </div>
                    <div class="logo_con">
                        <img src="./KakaoTalk_20220325_185658666.jpg" width="250" height="150">
                    </div>
                </div>
                <div class="statistics">
                    <div class="stat_1">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                    <div class="stat_2">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                    <div class="stat_3">
                        
                    </div>
                    <div class="stat_4">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                    <div class="stat_5">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="section" style="font-size: 32px; text-align: center; background-color: black;">

        <!-- admin 로그인 후 화면 -->

         <!-- <div class="admin_back">
            <div class="admin_main">
                <div class="admin_con1">
                    <div class="admin_span_box">
                        <span class="admin_span">회원 리스트</span>
                    </div>
                </div>
                <div class="admin_con2">
                    <div class="admin_span_box">
                        <span class="admin_span">회원 정보 수정</span>
                    </div>
                </div>
                <div class="admin_con3">
                    <div class="admin_span_box">
                        <span class="admin_span">카테고리 설정</span>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- admin 로그인 화면 -->
        <div class="admin_back">
            <div class="admin_main">
                <div class="admin_login_con">
                    <form id="login-form" method="post">

                        <label class="legend">ID</label>
      
                        <input name="userid" type="text">
      
      
      
                        <label class="legend">password</label> 
      
                        <input name="passwprd" type="password"> 
      
                        <button class="custom-btn btn-5"><a href="/" class="admin_login_button" align="center">admin login</a></button>
               </form>
                </div>
            </div>
        </div>

    </div>

    <script>

    
    //스크롤 화면 이동 이벤트
        window.onload = function(){

        const elm = document.querySelectorAll('.section');
        const elmCount = elm.length;
        elm.forEach(function(item, index){
            item.addEventListener('mousewheel', function(event){
                event.preventDefault();
                let delta = 0;

                if (!event) event = window.event;

                if (event.wheelDelta) {
                    delta = event.wheelDelta / 120;
                    if (window.opera) delta = -delta;
                } 
                else if (event.detail)
                    delta = -event.detail / 3;

                let moveTop = window.scrollY;
                let elmSelector = elm[index];

            // 스크롤 다운
            if (delta < 0){
                if (elmSelector !== elmCount-1){
                    try{
                        moveTop = window.pageYOffset + elmSelector.nextElementSibling.getBoundingClientRect().top;
                    }catch(e){}
                }
            }
            // 스크롤 업
            else{
                if (elmSelector !== 0){
                    try{
                        moveTop = window.pageYOffset + elmSelector.previousElementSibling.getBoundingClientRect().top;
                    }catch(e){}
                }
            }

            const body = document.querySelector('html');
            window.scrollTo({top:moveTop, left:0, behavior:'smooth'});
            });
        });
    }
    
    </script>
    <script type="text/javascript" src="/js/join.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>