<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <body>
    
    <div class="section" style="color: white; font-size: 32px; text-align: center; background-color: black;">
        <div class="container">
            
            <video class="main_video" autoplay loop muted preload="bbb" width="100%">
                <source src="./KakaoTalk_20220324_090914533 (online-video-cutter.com).mp4" type="video/mp4">
            </video>
            <div class="main">
                {% if response %}
                <p class="sign" align="center">{{username}}, Welcome!</p>
                {% else %}
                <p class="sign" align="center">SIGN IN</p>
                {% endif %}
                <form class="form1" id="login_frm">
                    {% if response %}
                    <a class="submit" align="center">profile</a>
                    {% else %}
                    <input id="login_userid" class="un" type="text" align="center" placeholder="Username" style="color: lightgray; " autocomplete="off">
                    <input id="login_userpw" class="pass" type="password" align="center" placeholder="Password" style="color: lightgray;">
                    <button class="custom-btn btn-5" type="submit">LOGIN</button>
                    <button class="custom-btn btn-5"><a href="#pop_info_1" class="btn_open" align="center">REGISTER</a></button>
                    <button class="custom-btn btn-5"><a href="#pop_info_2" class="btn_open" align="center">PROFILE</a></button>
                    {% endif %}
                <div class="kakao_login">
                    <a href="/" ><img src="./kakao_login_medium_narrow (1).png"> </a>
                </div>
                <div class="google_login">
                    <a href="/" ><img src="./btn_google_signin_dark_normal_web.png"> </a>
                </div>
                <div class="naver_login">
                    <a href="/" ><img src="./btnG_official.png" width="185" height="40"> </a>
                </div>
                </form>   
                 <!-- 회원가입 팝업창 띄우기 -->
                 <form id="join_frm" action="http://localhost:4000/user/join" method="post">
                    <div id="pop_info_1" class="pop_wrap" style="display: none;">
                        <div class="pop_inner">
                            <p class="sign" align="center">REGISTER</p>
                            <input class="reg_userid" type="text" align="center" placeholder="UserID" style="color: lightgray; width: 70%;">
                            <!-- 회원가입 중복체크 버튼 -->
                            <button id="idcheck" class="custom-btn btn-5" type="click" style="width: 20%;">중복체크</button>
                            <input class="reg_userpw" type="text" align="center" placeholder="UserPW" style="color: lightgray;">
                            <input class="reg_username" type="text" align="center" placeholder="Username" style="color: lightgray;">
                            <input class="reg_nickname" type="text" align="center" placeholder="Nickname" style="color: lightgray;">
                            <input class="reg_birthdate" type="date" align="center" placeholder="Birthdate" style="color: rgb(70, 70, 70)">
                            <input class="reg_adress" type="text" align="center" placeholder="Adress" style="color: lightgray;">
                            <!-- 회원가입 성별 라디오 버튼 -->
                            <p style="color: #362C2C; font-weight: bold;">gender</p>
                            <label style="display: flex; height: 40px;">
                                <input class="reg_gender" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 35%; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">man</p>
                                <input class="reg_gender" type="radio" align="center" style="color: lightgray;width: 20px; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">woman</p>
                            </label>
                            <input class="reg_mobile" type="text" align="center" placeholder="Mobile" style="color: lightgray;">
                            <input class="reg_tel" type="text" align="center" placeholder="Tel" style="color: lightgray;">
                            <input class="reg_email" type="text" align="center" placeholder="Email" style="color: lightgray;">
                            <input class="reg_intro" type="text" align="center" placeholder="intro" style="color: lightgray; height: 200px;">
                            <input id="submit_frm" class="custom-btn btn-5" type="submit">
                            <button class="btn_close custom-btn btn-5"><a href="/" align="center">CLOSE</a></button>
                        </div>
                    </div>
                    <script>
                        var target = document.querySelectorAll('.btn_open');
                        var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
                        var targetID;
    
                        // 팝업 열기
                        for(var i = 0; i < target.length; i++){
                        target[i].addEventListener('click', function(){
                            targetID = this.getAttribute('href');
                            document.querySelector(targetID).style.display = 'block';
                            });
                        }
                    </script>
                </form> 
                <!-- 프로필 페이지 팝업 -->
                <!-- nunjucks작업을 하고 로그인 후!로 빼버려야함 -->
                <form id="profile_frm" action="http://localhost:4000/user/profile" method="post">
                    <div id="pop_info_2" class="pop_wrap" style="display: none;">
                        <div class="pop_inner_edit"> 
                            <p class="sign" align="center">PROFILE</p>
                            <p class="reg_userid" type="text" align="center" style="color: lightgray; padding-top: 3px;" >{{ UserID }}</p>
                            <p class="reg_userpw" type="text" align="center" style="color: lightgray;">{{ UserPW}}</p>
                            <p class="reg_username" type="text" align="center" style="color: lightgray;">{{ Username}}</p>
                            <p class="reg_nickname" type="text" align="center" style="color: lightgray;">{{ Nickname }}</p>
                            <p class="reg_birthdate" type="date" align="center" style="color: lightgray">{{ Birthdate }}</p>
                            <p class="reg_adress" type="text" align="center"  style="color: lightgray;">{{ Adress }}</p>
                            <p class="reg_gender" type="radio" align="center" style="color:lightgray;">{{ gender }}</p>
                            <p class="reg_mobile" type="text" align="center"  style="color: lightgray;">{{ Mobile }}</p>
                            <p class="reg_tel" type="text" align="center"  style="color: lightgray;">{{ Tel }}</p>
                            <p class="reg_email" type="text" align="center"  style="color: lightgray;">{{ Email }}</p>
                            <p class="reg_intro" type="text" align="center"  style="color: lightgray; height: 200px;">{{ intro }}</p>
                            <!-- 프로필 수정 페이지 이동 버튼 -->
                            <button class="custom-btn btn-5"><a href="#pop_info_3" align="center" class="btn_open">EDIT</a></button>
                            <button class="custom-btn btn-5"><a href="#pop_info_4" align="center" class="btn_open">SEE ALL</a></button>
                            <!-- 회원탈퇴 > ? action 수정 필요 -->
                            <button id="quit_frm" class="custom-btn btn-5" type="submit" style="width: 40%; margin-bottom: 10px;">회원 탈퇴</button>

                            <button class="btn_close custom-btn btn-5"><a href="/" align="center">CLOSE</a></button>
                        </div>
                    </div>
                    <script>
                        var target = document.querySelectorAll('.btn_open');
                        var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
                        var targetID;
    
                        // 팝업 열기
                        for(var i = 0; i < target.length; i++){
                        target[i].addEventListener('click', function(){
                            targetID = this.getAttribute('href');
                            document.querySelector(targetID).style.display = 'block';
                            });
                        }
                    </script>
                </form> 
                <!-- 프로필 수정 팝업 -->
                <form id="edit_frm" action="http://localhost:4000/user/edit" method="post">
                    <div id="pop_info_3" class="pop_wrap" style="display: none;">
                        <div class="pop_inner">
                            <p class="sign" align="center">EDIT</p>
                            <input class="reg_userid" type="text" align="center" placeholder="UserID" style="color: lightgray; width: 70%;">
                            <input id="idcheck" class="custom-btn btn-5" type="submit" style="width: 20%;" placeholder="중복체크">
                            <input class="reg_userpw" type="text" align="center" placeholder="UserPW" style="color: lightgray;">
                            <input class="reg_username" type="text" align="center" placeholder="Username" style="color: lightgray;">
                            <input class="reg_nickname" type="text" align="center" placeholder="Nickname" style="color: lightgray;">
                            <input class="reg_birthdate" type="date" align="center" placeholder="Birthdate" style="color: rgb(70, 70, 70)">
                            <input class="reg_adress" type="text" align="center" placeholder="Adress" style="color: lightgray;">
                            <p style="color: #362C2C; font-weight: bold;">gender</p>
                            <label style="display: flex; height: 40px;">
                                <input class="reg_gender" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 35%; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">man</p>
                                <input class="reg_gender" type="radio" align="center" style="color: lightgray;width: 20px; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">woman</p>
                            </label>
                            <input class="reg_mobile" type="text" align="center" placeholder="Mobile" style="color: lightgray;">
                            <input class="reg_tel" type="text" align="center" placeholder="Tel" style="color: lightgray;">
                            <input class="reg_email" type="text" align="center" placeholder="Email" style="color: lightgray;">
                            <input class="reg_intro" type="text" align="center" placeholder="intro" style="color: lightgray; height: 200px;">
                            <button id="edit_frm" class="custom-btn btn-5" type="submit" ><a href="/" align="center" class="btn_open">SUBMIT</a></button>
                            <button class="btn_close custom-btn btn-5"><a href="/" align=s"center">CLOSE</a></button>
                        </div>
                    </div>
                    <script>
                        var target = document.querySelectorAll('.btn_open');
                        var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
                        var targetID;
    
                        // 팝업 열기
                        for(var i = 0; i < target.length; i++){
                        target[i].addEventListener('click', function(){
                            targetID = this.getAttribute('href');
                            document.querySelector(targetID).style.display = 'block';
                            });
                        }
                    </script>
                </form> 
                <!-- 사용자 활동 모아 보기 -->
                <!-- <form id="See_All_frm" action=" " method="post"> -->
                    <div id="pop_info_4" class="pop_wrap" style="display: none;">
                        <div class="pop_inner_edit" style=" width: 80%;"> 
                            <p class="sign" align="center">SEE ALL</p>
                            <table style="display: flex;">
                                <!-- <c:forEach var="board" items="${list }">
                                    <tr>
                                        <td>{{board.b_idx }}</td>
                                        <td>{{board.subject}}</td>
                                        <td>{{board.content}}</td>
                                        <td>{{board.userid }}</td>
                                        <td>{{board.date }}</td>
                                        <td>{{board.hit }}</td>
                                        <td>{{hashtag.name}}</td>
                                    </tr>
                                </c:forEach> -->
                                <div class="SA_con1" style="float: left;">
                                    <tr>
                                        <td><p>자신의 게시물</p></td>
                                        <tr >
                                            <c:forEach var="board" items="${list }">
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                            </c:forEach>
                                        </tr>
                                    </tr>
                                </div>
                                <div class="SA_con1" style="float: left;">
                                    <tr>
                                        <td><p>좋아요한 게시물</p></td>
                                        <tr >
                                            <c:forEach var="board" items="${list }">
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                            </c:forEach>
                                        </tr>
                                    </tr>
                                </div>
                                <div class="SA_con1">
                                    <tr>
                                        <td><p>자신의 댓글</p></td>
                                        <tr >
                                            <c:forEach var="board" items="${list }">
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                            </c:forEach>
                                        </tr>
                                    </tr>
                                </div>
                                <div class="SA_con1" style="float: left;">
                                    <tr>
                                        <td><p>좋아요한 댓글</p></td>
                                        <tr >
                                            <c:forEach var="board" items="${list }">
                                                <td class="See_All_td"><a href="/board_view">dsfsfsd</a></td>
                                            </c:forEach>
                                        </tr>
                                    </tr>
                                </div>
                            </table>



                            <button class="btn_close custom-btn btn-5"><a href="/" align=s"center">CLOSE</a></button>
                        </div>
                    </div>
                    <script>
                        var target = document.querySelectorAll('.btn_open');
                        var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
                        var targetID;
    
                        // 팝업 열기
                        for(var i = 0; i < target.length; i++){
                        target[i].addEventListener('click', function(){
                            targetID = this.getAttribute('href');
                            document.querySelector(targetID).style.display = 'block';
                            });
                        }
                    </script>
                <!-- </form>  -->
            </div>
        </div>
    </div>
    <div class="section" style=" font-size: 32px; text-align: center;">
        <div class="menu_back" style="background-color: black;">
            <div class="menu_con" style="background-color: rgb(70, 70, 70);">
                <div class="main2_button">
                    <div class="button_con1">
                        <button class="custom-btn btn-7">
                            <a href="/main_category" align="center"><span class="munu_button">COMMUNITY</span></a>
                        </button>
                    </div>
                    <div class="button_con2">
                        <button class="custom-btn btn-7">
                            <!-- 채팅방 라우터 적어야함 -->
                            <a href="/" align="center"><span class="munu_button">CHAT</span></a>
                        </button>
                    </div>
                    <div class="logo_con">
                        <img src="./KakaoTalk_20220325_185658666.jpg" width="250" height="150">
                    </div>
                </div>
                <div class="statistics">
                    <div class="stat_1">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                    <div class="stat_2">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                    <div class="stat_3">
                        
                    </div>
                    <div class="stat_4">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                    <div class="stat_5">
                        <div class="pie-chart2"><span class="center"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="section" style="font-size: 32px; text-align: center; background-color: black;">

        <!-- admin 로그인 후 화면 -->

         <!-- <div class="admin_back">
            <div class="admin_main">
                <div class="admin_con1">
                    <div class="admin_span_box">
                        <span class="admin_span">회원 리스트</span>
                    </div>
                </div>
                <div class="admin_con2">
                    <div class="admin_span_box">
                        <span class="admin_span">회원 정보 수정</span>
                    </div>
                </div>
                <div class="admin_con3">
                    <div class="admin_span_box">
                        <span class="admin_span">카테고리 설정</span>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- admin 로그인 화면 -->
        <div class="admin_back">
            <div class="admin_main">
                <div class="admin_login_con">
                    <form id="login-form" method="post">

                        <label class="legend">ID</label>
      
                        <input name="userid" type="text">
      
      
      
                        <label class="legend">password</label> 
      
                        <input name="passwprd" type="password"> 
      
                        <button class="custom-btn btn-5"><a href="/" class="admin_login_button" align="center">admin login</a></button>
               </form>
                </div>
            </div>
        </div>

    </div>

    <script>

    
    //스크롤 화면 이동 이벤트
        window.onload = function(){

        const elm = document.querySelectorAll('.section');
        const elmCount = elm.length;
        elm.forEach(function(item, index){
            item.addEventListener('mousewheel', function(event){
                event.preventDefault();
                let delta = 0;

                if (!event) event = window.event;

                if (event.wheelDelta) {
                    delta = event.wheelDelta / 120;
                    if (window.opera) delta = -delta;
                } 
                else if (event.detail)
                    delta = -event.detail / 3;

                let moveTop = window.scrollY;
                let elmSelector = elm[index];

            // 스크롤 다운
            if (delta < 0){
                if (elmSelector !== elmCount-1){
                    try{
                        moveTop = window.pageYOffset + elmSelector.nextElementSibling.getBoundingClientRect().top;
                    }catch(e){}
                }
            }
            // 스크롤 업
            else{
                if (elmSelector !== 0){
                    try{
                        moveTop = window.pageYOffset + elmSelector.previousElementSibling.getBoundingClientRect().top;
                    }catch(e){}
                }
            }

            const body = document.querySelector('html');
            window.scrollTo({top:moveTop, left:0, behavior:'smooth'});
            });
        });
    }
    
    </script>
    <script type="text/javascript" src="/js/join.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
    <script type="text/javascript" src="/js/idcheck.js"></script>
    <script type="text/javascript" src="/js/profile.js"></script>
    <script type="text/javascript" src="/js/edit.js"></script>
    <script type="text/javascript" src="/js/quit.js"></script>
    
</body>
</html>