<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <link href="/css/index.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <body>
    
    <div class="section" style="color: white; font-size: 32px; text-align: center; background-color: black;">
        <div class="container">
            
            <video class="main_video" autoplay loop muted preload="bbb" width="100%">
                <source src="./KakaoTalk_20220324_090914533 (online-video-cutter.com).mp4" type="video/mp4">
            </video>
            <div class="main">
                {% if cookie %}
                <p class="sign" align="center">{{username}}, Welcome!</p>
                {% else %}
                <p class="sign" align="center">SIGN IN</p>
                {% endif %}
                    {% if response %}
                    <a class="submit" align="center">profile</a>
                    {% else %}
                    <form class="form1" id="login_frm">
                        <input id="login_userid" class="un" type="text" align="center" placeholder="Username" style="color: lightgray; " autocomplete="off">
                        <input id="login_userpw" class="pass" type="password" align="center" placeholder="Password" style="color: lightgray;">
                        <button class="custom-btn btn-5" type="submit">LOGIN</button>
                    </form>  
                    <button class="custom-btn btn-5"><a href="#pop_info_1" class="btn_open" align="center" style="display: block;">REGISTER</a></button>
                    <button id="profile_btn" class="custom-btn btn-5"><a href="#pop_info_2" class="btn_open" align="center">PROFILE</a></button>
                    {% endif %}
                <div class="kakao_login">
                    <a href="/" ><img src="./kakao_login_medium_narrow (1).png"> </a>
                </div>
                <div class="google_login">
                    <a href="/" ><img src="./btn_google_signin_dark_normal_web.png"> </a>
                </div>
                <div class="naver_login">
                    <a href="/" ><img src="./btnG_official.png" width="185" height="40"> </a>
                </div> 
                 <!-- 회원가입 팝업창 띄우기 -->
                 <form id="join_frm" action="http://localhost:4000/user/join" method="post"></form>
                    <div id="pop_info_1" class="pop_wrap" style="display: none;">
                        <div class="pop_inner">
                            <p class="sign" align="center">REGISTER</p>
                            <input class="reg_userid" type="text" align="center" placeholder="UserID" style="color: lightgray; width: 70%;">
                            <!-- 회원가입 중복체크 버튼 -->
                            <button id="idcheck" class="custom-btn btn-5" type="click" style="width: 20%;">중복체크</button>
                            <input class="reg_userpw" type="text" align="center" placeholder="UserPW" style="color: lightgray;">
                            <input class="reg_username" type="text" align="center" placeholder="Username" style="color: lightgray;">
                            <input class="reg_nickname" type="text" align="center" placeholder="Nickname" style="color: lightgray;">
                            <input class="reg_birthdate" type="date" align="center" placeholder="Birthdate" style="color: rgb(70, 70, 70)">
                            <input class="reg_adress" type="text" align="center" placeholder="Adress" style="color: lightgray;">
                            <!-- 회원가입 성별 라디오 버튼 -->
                            <p style="color: #362C2C; font-weight: bold;">gender</p>
                            <label style="display: flex; height: 40px;">
                                <input class="reg_gender" type="radio" value="남자" align="center" style="color:lightgray;width: 20px;margin-left: 35%; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">man</p>
                                <input class="reg_gender" type="radio" value="여자" align="center" style="color: lightgray;width: 20px; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">woman</p>
                            </label>
                            <input class="reg_mobile" type="text" align="center" placeholder="Mobile" style="color: lightgray;">
                            <input class="reg_tel" type="text" align="center" placeholder="Tel" style="color: lightgray;">
                            <input class="reg_email" type="text" align="center" placeholder="Email" style="color: lightgray;">
                            <input class="reg_intro" type="text" align="center" placeholder="intro" style="color: lightgray; height: 200px;">
                            </form> 
                            <input id="submit_frm" class="custom-btn btn-5" type="submit">
                            <button class="btn_close custom-btn btn-5"><a href="/" align="center">CLOSE</a></button>
                        </div>
                    </div>
                </form>
                <!-- 프로필 페이지 팝업 -->
                <!-- nunjucks작업을 하고 로그인 후!로 빼버려야함 -->
                <form id="profile_frm" action="http://localhost:4000 method="post">
                    <div id="pop_info_2" class="pop_wrap" style="display: none;">
                        <div class="pop_inner_edit"> 
                            <p class="sign" align="center">PROFILE</p>
                            <form id="profile_frm" action="http://localhost:4000/user/profile" method="post">
                            <input id="pro_userid" class="reg_userid" type="text" align="center" placeholder="UserID" style="color: lightgray; width: 70%;">
                            <button id="idcheck" class="custom-btn btn-5" type="click" style="width: 20%;">중복체크</button>
                            <input id="pro_userpw"class="reg_userpw" type="text" align="center" placeholder="UserPW" style="color: lightgray;">
                            <input id="pro_username"class="reg_username" type="text" align="center" placeholder="Username" style="color: lightgray;">
                            <input id="pro_nickname"class="reg_nickname" type="text" align="center" placeholder="Nickname" style="color: lightgray;">
                            <input id="pro_birthdate"class="reg_birthdate" type="date" align="center" placeholder="Birthdate" style="color: rgb(70, 70, 70)">
                            <input id="pro_adress"class="reg_adress" type="text" align="center" placeholder="Adress" style="color: lightgray;">
                            <p style="color: #362C2C; font-weight: bold;">gender</p>
                            <label style="display: flex; height: 40px;">
                                <input id="pro_gender"class="reg_gender" type="radio" align="center" style="color:lightgray;width: 20px;margin-left: 35%; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">man</p>
                                <input id="pro_gender"class="reg_gender" type="radio" align="center" style="color: lightgray;width: 20px; margin-top: 0px;" name="gender"><p style="color: #362C2C; font-weight: bold;">woman</p>
                            </label>
                            <input id="pro_mobile"class="reg_mobile" type="text" align="center" placeholder="Mobile" style="color: lightgray;">
                            <input id="pro_tel"class="reg_tel" type="text" align="center" placeholder="Tel" style="color: lightgray;">
                            <input id="pro_email"class="reg_email" type="text" align="center" placeholder="Email" style="color: lightgray;">
                            <input id="pro_intro"class="reg_intro" type="text" align="center" placeholder="intro" style="color: lightgray; height: 200px;">
                            </form> 
                            <!-- 프로필 수정 페이지 이동 버튼 -->
                            <button id="profileEdit_btn" class="custom-btn btn-5" style="margin-bottom: 5px;width: 160px;"><a href="#pop_info_3" align="center" class="btn_open">EDIT</a></button>
                            <button id="SEE_ALL_btn" class="custom-btn btn-5" style="margin-bottom: 5px; width: 160px;"><a href="#pop_info_4" align="center" class="btn_open">SEE ALL</a></button>
                            <!-- 회원탈퇴 > ? action 수정 필요 -->
                            <button id="quit_frm" class="custom-btn btn-5" style="width: 160px; margin-bottom: 10px;">회원 탈퇴</button>

                            <button class="btn_close custom-btn btn-5" style="width: 160px;"><a href="/" align="center">CLOSE</a></button>
                        </div>
                    </div>
                <!-- 사용자 활동 모아 보기 -->
                <!-- <form id="See_All_frm" action=" " method="post"> -->
                    <div id="pop_info_4" class="pop_wrap" style="display: none;">
                        <div class="pop_inner_edit" style=" width: 80%;"> 
                            <p class="sign" align="center">SEE ALL</p>
                            <table style="display: flex;">
                                <!-- <c:forEach var="board" items="${list }">
                                    <tr>
                                        <td>{{board.b_idx }}</td>
                                        <td>{{board.subject}}</td>
                                        <td>{{board.content}}</td>
                                        <td>{{board.userid }}</td>
                                        <td>{{board.date }}</td>
                                        <td>{{board.hit }}</td>
                                        <td>{{hashtag.name}}</td>
                                    </tr>
                                </c:forEach> -->
                                <div class="SA_con1" style="float: left;">
                                    <ul id="write_board" class="See_All_ul">
                                        <li>작성한 글</li>
                                    </ul>
                                </div>
                                <div class="SA_con1" style="float: left;">
                                    <ul id="like_board" class="See_All_ul">
                                        <li>좋아요 누른 글</li>
                                    </ul>
                                </div>
                                <div class="SA_con1" style="float: left;">
                                    <ul id="write_reply" class="See_All_ul">
                                        <li>작성한 댓글</li>
                                    </ul>
                                </div>
                                <div class="SA_con1" style="float: left;">
                                    <ul id="like_reply" class="See_All_ul">
                                        <li>좋아요 누른 댓글</li>
                                    </ul>
                                </div>
                            </table>
                            <button class="btn_close custom-btn btn-5"><a href="/" align=s"center">CLOSE</a></button>
                        </div>
                    </div>
                <!-- </form>  -->
            </div>
        </div>
    </div>
    <div class="section" style=" font-size: 32px; text-align: center;">
        <div class="menu_back" style="background-color: black;">
            <div class="menu_con" style="background-color: rgb(70, 70, 70);">
                <div class="main2_button">
                    <div class="button_con1">
                        <button class="custom-btn btn-7">
                            <a href="/board/category" align="center"><span class="munu_button">COMMUNITY</span></a>
                        </button>
                    </div>
                    <div class="button_con2">
                        <button class="custom-btn btn-7">
                            <a href="/chat/list" align="center"><span class="munu_button">CHAT</span></a>
                        </button>
                    </div>
                    <div class="logo_con">
                        <img src="./KakaoTalk_20220325_185658666.jpg" width="250" height="150">
                    </div>
                </div>
                <div class="statistics">
                    <div class="USC">
                        <div class="userSearch_con">
                            <p class="sign" align="center">USER SEARCH</p>
                            <div class="search">
                                <input id="search_input" class="un" type="text" align="center" style="color: lightgray; width: 60%; " autocomplete="off">
                                <button id="search_btn" class="btn_close custom-btn btn-5" style="margin-top: 10px;">search</button>
                            </div>
                            <div class="user_profile">
                                <div class="pop_inner_edit"> 
                                    <p class="sign" align="center" style="font-size: 20px;">user profile</p>
                                    <p id="search_userid" class="reg_userid" type="text" align="center" style="color: lightgray; width: 95%;" >{{ UserID }} 더미</p>
                                    <p id="search_username" class="reg_username" type="text" align="center" style="color: lightgray;width: 95%;">{{ Username}} 더미</p>
                                    <p id="search_nickname" class="reg_nickname" type="text" align="center" style="color: lightgray;width: 95%;">{{ Nickname }} 더미</p>
                                    <p id="search_birthdate" class="reg_birthdate" type="date" align="center" style="color: lightgray;width: 95%;">{{ Birthdate }} 더미</p>
                                    <p id="search_adress" class="reg_adress" type="text" align="center"  style="color: lightgray;width: 95%;">{{ Adress }} 더미</p>
                                    <p id="search_gender" class="reg_gender" type="radio" align="center" style="color:lightgray;width: 95%;">{{ gender }} 더미</p>
                                    <p id="search_mobile" class="reg_mobile" type="text" align="center"  style="color: lightgray;width: 95%;">{{ Mobile }} 더미</p>
                                    <p id="search_tel" class="reg_tel" type="text" align="center"  style="color: lightgray;width: 95%;">{{ Tel }} 더미</p>
                                    <p id="search_email" class="reg_email" type="text" align="center"  style="color: lightgray;width: 95%;">{{ Email }} 더미</p>
                                    <p id="search_intro" class="reg_intro" type="text" align="center"  style="color: lightgray; height: 200px;width: 95%;">{{ intro }} 더미</p>
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="stat_con">
                        <div class="stat_p">
                            <p class="sign" align="center" style="width: 200px; margin-left: 90px;">게시물 포인트 랭크</p>
                            <p class="sign" align="center"  style="width: 200px; margin-left: 460px; margin-top: -55px;">댓글 포인트 랭크</p>
                        </div>
                        <div class="stat_1" style=" overflow:scroll;">
                            <div class="stat_top">
                                <div class="stat_menu1">
                                    userid
                                </div>
                                <div class="stat_munu2" style="margin-left: 40px;">
                                    ranking
                                </div>
                            </div>
                            <ul class="rank_ul">
                                <li class="rank_li">{{ board[0].userid }}</li>
                                <li class="rank_li">{{ board[0].b_point }}</li>
                            </ul>
                            <ul class="rank_ul">
                                <li class="rank_li"></li>
                                <li class="rank_li"></li>
                            </ul>
                        </div>
                        <div class="stat_2" style="margin-left: 400px; overflow:scroll;">
                            <div class="stat_top">
                                <div class="stat_menu1">
                                    userid
                                </div>
                                <div class="stat_munu2"style="margin-left: 40px; ">
                                    ranking
                                </div>
                            </div>
                            <ul class="rank_ul">
                                <li class="rank_li">{{ reply[0].userid }}</li>
                                <li class="rank_li">{{ reply[0].r_point}}</li>
                            </ul>
                            <ul class="rank_ul">
                                <li class="rank_li">{{userid}} 이름 더미</li>
                                <li class="rank_li">{{b_point}} 포인트 더미</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    
    <div class="section" style="font-size: 32px; text-align: center; background-color: black;">

        <!-- admin 로그인 후 화면 -->

         <!-- <div class="admin_back">
            <div class="admin_main">
                <div class="admin_con1">
                    <div class="admin_span_box">
                        <span class="admin_span">회원 리스트</span>
                    </div>
                </div>
                <div class="admin_con2">
                    <div class="admin_span_box">
                        <span class="admin_span">회원 정보 수정</span>
                    </div>
                </div>
                <div class="admin_con3">
                    <div class="admin_span_box">
                        <span class="admin_span">카테고리 설정</span>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- admin 로그인 화면 -->
        <div class="admin_back">
            <div class="admin_main">
                <div class="admin_login_con">
                    <form id="admin_login_form" method="post">

                        <label class="legend">ID</label>
      
                        <input id="admin_userid" name="userid" type="text">
      
      
      
                        <label class="legend">password</label> 
      
                        <input id="admin_userpw" name="password" type="password"> 
      
                        <button class="custom-btn btn-5" id="admin_login_button" align="center"admin login></button>
               </form>
                </div>
            </div>
        </div>

    </div>

    <script>
    //스크롤 화면 이동 이벤트
        window.onload = function(){

        const elm = document.querySelectorAll('.section');
        const elmCount = elm.length;
        elm.forEach(function(item, index){
            item.addEventListener('mousewheel', function(event){
                event.preventDefault();
                let delta = 0;

                if (!event) event = window.event;

                if (event.wheelDelta) {
                    delta = event.wheelDelta / 120;
                    if (window.opera) delta = -delta;
                } 
                else if (event.detail)
                    delta = -event.detail / 3;

                let moveTop = window.scrollY;
                let elmSelector = elm[index];

            // 스크롤 다운
            if (delta < 0){
                if (elmSelector !== elmCount-1){
                    try{
                        moveTop = window.pageYOffset + elmSelector.nextElementSibling.getBoundingClientRect().top;
                    }catch(e){}
                }
            }
            // 스크롤 업
            else{
                if (elmSelector !== 0){
                    try{
                        moveTop = window.pageYOffset + elmSelector.previousElementSibling.getBoundingClientRect().top;
                    }catch(e){}
                }
            }

            const body = document.querySelector('html');
            window.scrollTo({top:moveTop, left:0, behavior:'smooth'});
            });
        });
    }
    
    </script>
    <script type="text/javascript" src="/js/user/pop.js"></script>
    <script type="text/javascript" src="/js/user/join.js"></script>
    <script type="text/javascript" src="/js/user/login.js"></script>
    <script type="text/javascript" src="/js/user/idcheck.js"></script>
    <script type="text/javascript" src="/js/user/profile.js"></script>
    <script type="text/javascript" src="/js/user/userData.js"></script>
    <script type="text/javascript" src="/js/user/find.js"></script>
    <script type="text/javascript" src="/js/user/profileEdit.js"></script>
    <script type="text/javascript" src="/js/user/quit.js"></script>
    <!-- ADMIN -->
    <script type="text/javascript" src="/js/admin/login.js"></script>

</body>
</html>