<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/main_category.css" type="text/css" rel="stylesheet">
</head>
<body>
    <span><span></span></span>
    <div class="board_con">
        <div class="board_wrap">
            <div class="wrap">
                <a href="#"><div></div></a>
                <a href="#"><div></div></a>
                <a href="#"><div></div></a>
                <a href="/sub_category"><div></div></a>
                <a href="/"><div></div></a>
            </div>
        </div>
    </div>
</body>
</html>