<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/sub_category.css" type="text/css" rel="stylesheet">


</head>
<body>
  <div class="wrap">
    <div class="content_wrap">
      <a href="/board_view" class="tile_link">
    <div class="tile"> 
      <img src='https://images.unsplash.com/photo-1464054313797-e27fb58e90a9?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=996&q=80'/>
      <div class="text">
      <h1>board_view</h1>
      <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      </div>
     </div>
    </a>
    </div>
    
    <div class="content_wrap">
      <a href="#" class="tile_link">
    <div class="tile"> 
      <img src='https://images.unsplash.com/photo-1458668383970-8ddd3927deed?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1004&q=80'/>
      <div class="text">
      <h1>Lorem ipsum.</h1>
      <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      </div>
     </div>
     </a>
    </div>

    <div class="content_wrap">
      <a href="#" class="tile_link">
      <div class="tile"> 
      <img src='https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80'/>
      <div class="text">
      <h1>Lorem ipsum.</h1>
      <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      </div>
     </div>
     </a>
    </div>

     <div class="content_wrap">
      <a href="#" class="tile_link">
     <div class="tile"> 
      <img src='https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80'/>
      <div class="text">
      <h1>Lorem ipsum.</h1>
      <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      </div>
     </div>
    </a>
    </div>

     <div class="content_wrap">
      <a href="#" class="tile_link">
     <div class="tile"> 
      <img src='https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80'/>
      <div class="text">
      <h1>Lorem ipsum.</h1>
      <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
      </div>
     </div>
     </a>
    </div>

    <div class="content_wrap" >
      <a href="/main_category" class="tile_link">
      <div class="tile"> 
       <img src='https://images.unsplash.com/photo-1422393462206-207b0fbd8d6b?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80'/>
       <div class="text">
           <h1>PREVIOUS</h1>
       <h2 class="animate-text">More lorem ipsum bacon ipsum.</h2>
     <div class="dots">
         <span></span>
         <span></span>
         <span></span>
       </div>
       </div>
      </div>
    </a>
     </div>
 

  </div>
</body>

</html>