<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/list.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div class="content_wrap">
    	<div class="wrap1">
            <h2 style="font-weight: bold; color: #fff; ">COMMUNITY</h2>
            <button class="custom-btn btn-5"><a href="/" align="center" style="color: #fff; display: block; text-decoration-line: none;">PREVIOUS</a></button>
        </div>
        <div class="wrap3">
            <div class="circle">
                <a class="main_category" href="/chat/title#1" style="display: block;">
                    리그오브레전드
                </a>
            </div>
        </div>
        <div class="wrap3">
            <div class="circle">
                <a class="main_category" href="/chat/title#2" style="display: block;">
                    서든어택
                </a>
            </div>
        </div>
    </div>

        <script type="text/javascript" src="/js/user/pop.js"></script>
        <script type="text/javascript" src="/js/user/file_reader.js"></script>
    </div>
    <a href="/chat/title#1">리그오브레전드</a>
    <a href="/chat/title#2">서든어택</a>
</body>
</html>