*{margin:0;}


.container{
    padding: 30px;
    margin:80px;
    background:white;}
#one{
    background:yellow;

}

#two{
    background:green;
}
#three{
    background:blue;
   
}
#four{
    background:purple;
    
}#five{padding:10px;
    margin: 40;
       background:gray;         
}
